@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: #e5e5e5;
  width: 100%;
}

.salutation {
  font-size: 40px;
  font-weight: 700;
  width: auto;
  color: #172b4d;
  line-height: 52px;
  padding-right: 20px;
}

.lets-connect {
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
  margin-top: 10px;
}

.buttons {
  padding-bottom: 100px;
}

.language1 ul {
  width: 100%;
}

.buttons li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 25px;
  margin-left: 0%;
}

.buttons li a {
  cursor: pointer;
  text-decoration: none;
}

.menu-icon {
  cursor: pointer;
}

.paragraph1 {
  margin: 10px 0;
  width: 90%;
  margin-left: 0;
}

.first-section {
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #fff;
  margin-bottom: 50px;
  padding: auto;
  padding-left: 10px;
  border: 1px solid white;
  border-bottom-left-radius: 110px;
}

.work-section {
  display: -ms-grid;
  width: 100%;
  gap: 40px;
  place-items: center;
  margin-bottom: 58px;
}

.project-card,
.project-cardr {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 16px;
  margin: 16px auto;
  border-radius: 16px;
  width: 90%;
}

.project-card1 {
  width: 100%;
}

.project-card1 img {
  width: 100%;
}

.project-card img {
  margin-left: 0;
}

.headline-text {
  padding-left: 20px;
}

.head {
  color: #172b4d;
  font-weight: bold;
  line-height: 44px;
  font-size: 35px;
  font-family: poppins, sans-serif;
  margin-left: 5px;
  padding-top: 12px;
}

.card-detail {
  display: inline;
  text-align: center;
}

.card-detail ::after {
  content: "\00b7";
  font-size: 1.5em;
}

.card-detail :last-child::after {
  content: none;
}

.langu {
  background-color: #ebebff;
  padding: 10px;
  color: #4472e7;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  font-family: poppins, sans-serif;
  display: inline-block;
  margin-left: 10px;
}

.circle {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  row-gap: 12px;
}

.option {
  font-family: poppins, sans-serif;
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  position: static;
  width: 88px;
  padding-top: 8px;
}

.canopy {
  font-family: poppins, sans-serif;
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  position: static;
  width: 55px;
  height: 16px;
  padding-left: 0;
  padding-top: 8px;
  margin-left: 10px;
}

p {
  position: static;
  width: auto;
  height: auto;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  order: 1;
  margin: 12px 10px;
}

button {
  border: 2px solid #4472e7;
  padding: 8px;
  color: #4472e7;
  text-decoration: none;
  border-radius: 8px;
  font-size: large;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  background-color: #fff;
  display: flex;
}

.btn-one {
  margin-top: 40px;
  margin-bottom: 30px;
  align-self: start;
}

.getmyr {
  padding-bottom: 0;
}

.btn-resume {
  margin: 0;
}

.links li a {
  color: #fff;
  font-size: 32px;
}

.btn-one a:focus {
  background-color: #2230d2;
  color: #fff;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
}

button:disabled {
  color: #5e6c84;
  background-color: #e5e5e5;
}

button:active {
  background-color: #2230d2;
}

.btn-two {
  border: 1px solid #4053fc;
  padding: 7px;
  border-radius: 4%;
  font-size: 17px;
  font-weight: 300;
  text-transform: capitalize;
}

a .btn-two {
  color: #fff;
  text-decoration: none;
}

.languages {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.section-about {
  background-color: white;
}

.section-about h1 {
  width: auto;
  height: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.37px;
  color: #091e42;
  margin: 40px 10px 30px 0;
  font-size: 35px;
}

.about-grid {
  display: flex;
  flex-direction: column;
}

.about-grid > article {
  padding-bottom: 50px;
}

.lang-font {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: #344563;
  margin: 30px;
}

.lang {
  margin: 30px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang-margin {
  margin-top: 4px;
}

.lang-2 {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(202, 200, 200);
  align-items: center;
}

.icons {
  height: 15px;
  width: 15px;
}

.language {
  display: flex;
  background-color: #f6f6f9;
  border-radius: 8px;
  padding: 10px;
}

.lang-text {
  font-family: Poppins, sans-serif;
  color: #344563;
  padding-top: 10px;
  font-style: normal;
  margin-left: 0;
  font-size: 15px;
}

.contact-form-section {
  width: 100%;
  height: auto;
  background: #6070ff;
  background-image: url(./images/contact-form-shape-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 143px 11px;
  border-top-left-radius: 80px;
  padding: 103px 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding-bottom: 20px;
}

form {
  padding-bottom: 30px;
}

.contact-form-section #contact-me {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.contact-form-section #contact-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contact-form-section ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.contact-form-section .contact-form {
  margin-top: 20px;
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

#name,
#email,
#msg {
  outline: none;
}

input,
textarea {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.contact-form-section .input-data {
  width: 280px;
  max-width: 327px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
}

.contact-form-section #name,
#mail {
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.contact-form-section input::placeholder {
  color: #172b4d;
}

.contact-form-section textarea {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  resize: none;
}

.contact-form-section textarea::placeholder {
  color: #b3bac5;
}

.desk-menu {
  display: none;
}

.anot {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.anot ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.anot h3 {
  margin-left: 30px;
}

.links {
  display: none;
  background-color: rgba(96, 112, 255, 0.9);
  color: #fff;
  height: 146vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 50px 0;
}

.links li {
  margin-top: 25px;
}

.close {
  position: absolute;
  top: -15px;
  left: 93%;
}

.emailError {
  display: none;
  background-color: rgb(240, 159, 159);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.d-flex {
  display: block;
}

@media only screen and (max-width: 768px) {
  .menu-animation {
    background: white;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 60rem;
    margin: 0 auto;
    padding: 10px;
  }

  .container .nav-items {
    display: block;
    padding: 10px;
  }

  .logoforJS h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #6070ff;
  }

  .nav-toggle {
    display: block;
    position: absolute;
    top: 8px;
    right: 10px;
  }

  .desktop-nav {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    height: 0;
    width: 100%;

    /* overflow: hidden; */
  }

  .open {
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) {
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .first-section,
  .text {
    width: 100%;
    flex-direction: column;
  }

  header {
    background-color: white;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: 10px;
  }

  .container .nav-items {
    display: inline-block;
    padding: 10px;
  }

  .logoforJS h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #6070ff;
  }

  .nav-toggle {
    display: none;
  }

  .desktop-nav {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .lang-img {
    width: 20px;
  }

  .first-section {
    padding: 17%;
    background-image: url(./images/Header\ bg@2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .white {
    padding: 20px 70px;
  }

  .project-card {
    flex-direction: row;
    gap: 20px;
  }

  .project-cardr {
    flex-direction: row-reverse;
  }

  .project-card1 img {
    height: 100%;
    width: 100%;
  }

  .project-card1 {
    width: 50%;
  }

  .project-card2 {
    width: 50%;
  }

  .section-about {
    display: flex;
    flex-direction: row;
    padding: 50px;
  }

  .about-grid {
    width: 35%;
  }

  .anot {
    width: 65%;
  }

  .language {
    display: flex;
    background-color: #f6f6f9;
    border-radius: 8px;

    /* padding: 10px; */
    width: fit-content;
    flex-direction: column;
  }

  .lang-font ul {
    display: flex;
    margin-left: 0;
    flex-direction: row;
    gap: 5px;
  }

  .text .buttons {
    display: flex;
    gap: 3px;
  }

  .contact-form-section {
    background-image: url(./images/contact\ form\ background\ shapes@2x.png);
    background-size: 90%;
    background-repeat: no-repeat;
  }

  .contact-form-section .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links li a {
    color: #2230d2;
    font-size: 15px;
  }

  .links {
    display: flex;
    background: transparent;
    position: absolute;
    top: -12%;
    width: auto;
    left: 69%;
    z-index: 1;
  }

  .links li {
    margin-top: 25px;
  }
}

.contact-form .error {
  display: none;
}

/* CONTACT FORM VALIDATION */

span {
  font-family: Poppins, sans-serif;
  color: red;
  font-size: 13px;
  font-weight: 600;
}
